body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.nav-link {
  margin-left: 20px;
}

.footer-links {
  font-size: 12px;
}

#support-hero {
  background-color: rgb(56,126,209);
  color: white;
}

#support-hero a {
  color: white;
}

#support-hero-content {
  display: flex;
  justify-content: space-between;
  margin: 0 28px;
}

#support-hero input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;

}